import streamlit as st
import spacy
import re
import pandas as pd
from itertools import chain
pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz

